
.font-anek-bangla {
    font-family: "Anek Bangla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.font-hind-siliguri-light {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.font-hind-siliguri-regular {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-hind-siliguri-medium {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.font-hind-siliguri-semibold {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.font-hind-siliguri-bold {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.font-noto-sans {
    font-family: "Noto Sans Bengali", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.font-noto-serif {
    font-family: "Noto Serif Bengali", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.font-baloo-da {
    font-family: "Baloo Da 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.font-alkatra {
    font-family: "Alkatra", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
}

.font-tiro-bangla-regular {
    font-family: "Tiro Bangla", serif;
    font-weight: 400;
    font-style: normal;
}

.font-tiro-bangla-regular-italic {
    font-family: "Tiro Bangla", serif;
    font-weight: 400;
    font-style: italic;
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal.hidden {
    display: none;
}

.modal div {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
}

.modal h2 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#alert-content {
    font-size: 1.2rem;
    color: #555;
}

#close-alert {
    font-size: 1.5rem;
    cursor: pointer;
}
