
.font-anek-bangla {
    font-family: "Anek Bangla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.font-hind-siliguri-light {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.font-hind-siliguri-regular {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-hind-siliguri-medium {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.font-hind-siliguri-semibold {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.font-hind-siliguri-bold {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.font-noto-sans {
    font-family: "Noto Sans Bengali", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.font-noto-serif {
    font-family: "Noto Serif Bengali", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.font-baloo-da {
    font-family: "Baloo Da 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.font-alkatra {
    font-family: "Alkatra", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
}

.font-tiro-bangla-regular {
    font-family: "Tiro Bangla", serif;
    font-weight: 400;
    font-style: normal;
}

.font-tiro-bangla-regular-italic {
    font-family: "Tiro Bangla", serif;
    font-weight: 400;
    font-style: italic;
}

#today-info-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
}

#today-info-card h2, #today-info-card h3 {
    color: #333333;
}

#today-info-card p {
    color: #555555;
}

.countdown {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
}
